.cont{
	display: inline-block;
	border-radius: 5px;
	height: 200px;
	width: 10px;
	border: solid 1px grey;
	position: relative;
}

.item{
	width: 12px;
	height: 12px;
	background-color: red;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	bottom: 0px;
	left: -1px;
}