.box{
  width: 100%;
  position: relative;
  min-height: 200px;
  border: solid 2px black;
}

.overlay{
  top: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}