.full-col{
  float: left;
  width: 100%;
  padding: 0 20px;
}

.left-col .line{
  background-color: rgba(150, 182, 204, 0.83);
}

.left-col .field{
  background-color: rgb(0, 121, 202);
}

.right-col .line{
  background-color: rgba(225, 161, 161, 0.73);
}

.right-col .field{
  background-color: rgb(233, 114, 114);
}


.field{
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
  padding: 10px 0px 0px 10px;
  font-size: 18px;
  color:#eee;
  font-family: monospace;
}

.field.f{
  background-color: rgba(87, 129, 87, 1);
}

.full-col .line{
  background-color: rgba(152, 177, 152, 0.83);
}

.box a{
  display: inline-block;
  font-family: monospace;
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  text-decoration: none;
}

.line .box i:before{
  content: "";
  background-color: black;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  display: inline-block;
  top: -8px;
  left: 50%;
}
.line .box i{
  text-align: center;
  display: inline-block;
  background-color: #eee;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  padding: 2px;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  font-size: 10px;
  font-family: monospace;
  font-style: normal;
  border-radius: 2px;
  right: -24px;
  top: 58%;
}

.line{
  padding: 10px;
  width: 100%;
  display: inline-block;
  height: 80px;
  position: relative;
  margin-bottom: 10px;
}
.line:before{
  content: "";
  display: inline-block;
  border-top:solid 2px #666;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.line .title{
  font-size: 85%;
  font-family: monospace;
  text-align: right;
  font-weight: bold;
}
