@font-face {
  font-family: 'coolvetica';
  src: url('../font/coolvetica_rg.eot');
  src: url('../font/coolvetica_rg.eot?#iefix') format('embedded-opentype'), url('../font/coolvetica_rg.woff') format('woff'), url('../font/coolvetica_rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
nav {
  width: 100%;
  background: #7b1c47;
  border-bottom: solid 8px #FF5758;
}
nav .nav-cnt {
  max-width: 1024px;
}
nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
}
nav ul li {
  display: table-cell;
  text-align: center;
  padding: 10px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav ul li.active {
  background: #b62868;
}
h1,
h2 {
  font-family: 'coolvetica', times, serif;
  text-shadow: 2px 2px 4px rgba(244, 213, 245, 0.6);
}
#logo {
  padding: 25px;
  padding-bottom: 5px;
  text-align: center;
}
#submenu-cont {
  background: #eee;
}
#submenu {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
#submenu li {
  width: 100%;
  padding: 10px 6px;
}
#submenu li.active {
  font-weight: bold;
  text-decoration: underline !important;
}
.box.counter {
  border: solid 2px;
  min-height: 50px;
  padding: 20px;
}
.box.counter .result {
  margin-left: 10px;
  border: solid 1px;
  padding: 6px;
  min-width: 50px;
  border-radius: 4px;
  text-align: left;
  display: inline-block;
}
.b-doc-section {
  margin-bottom: 15px;
}
.center {
  text-align: center;
}
