code{
	padding: 3px;
  	border-radius: 5px;
  	background-color: #E7B0C9;
  	margin: 0 3px;
  	font-size: 12px;
}

pre code{
	font-size: 13px;
}

nav{
	width: 100%;
	background: rgb(123, 28, 71);
	border-bottom: solid 8px #FF5758;

	.nav-cnt{
		max-width: 1024px;
	}

	ul{
		width: 100%;
		margin: 0;
		padding: 0;
		display: table;
		position: relative;

		li{
			display: table-cell;
			text-align: center;
			padding: 10px; 
			a{
				color: white;
				font-weight: bold;
				text-decoration: none;
			}
		}
		li.active{
			background: rgb(182, 40, 104);
		}
	}
}

h1, h2{
	text-shadow: 2px 2px 4px rgba(244, 213, 245, 0.6);
}

h3{
	font-size: 22px;
}

#logo{
	padding: 25px;
	padding-bottom: 5px;
	text-align: center;
}

#submenu-cont{
	background: #eee;
}

#submenu{
 	padding: 0;
  	list-style: none;
  	margin-bottom: 0px;

  	li{
  		width: 100%;
  		padding: 10px 6px;
  	}
  	li.active{
  		font-weight: bold;
  		text-decoration: underline !important;
  	}
  	.mg-bottom{
  		margin-bottom: 15px;
  		border-bottom: solid 1px #337ab7;
  	}
}

.box.counter{
	border: solid 2px;
	min-height: 50px;
	padding: 20px;
	.result{
		margin-left: 10px;
		border: solid 1px;
		padding: 6px;
		min-width: 50px;
		border-radius: 4px;
		text-align: left;
		display: inline-block;
	}
}

.b-doc-section{
	margin-bottom: 15px;
}

.center{
	text-align: center;
}

.g-img-container{
	img{
		max-width: 100%;
	}
}

.no-padding{
	padding: 0;
}

.fork{
	position: absolute;
	right: 10px;
	top: 0px;
	background: url('../images/blacktocat.png') no-repeat;
}

#docs{
	h1,h2{
		font-weight: bold;
	}

	hr{
		margin: 30px 0;
		border-width: 2px;
	}

	hr.bhr{
		margin: 40px 0;
	}


}