.example table {
  width: 100%;
}

.example table td{
  padding: 10px;
}

.example table tr td:first-child{
  border-right: solid 1px gray;
}

.example table tr td:last-child{
  border-left: solid 1px gray;
}

.example thead td{
  font-weight:  bold;
  border-bottom: solid 1px gray;
}